@mixin text-defaults {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.navbar {
    width: 84vw;
    height: 45px;
    display: flex;
    align-items: center;
    margin: 48px 8vw;

    &__text {
        @include text-defaults();
        font-size: 1em;
        justify-self: flex-start;
        margin-left: 10px;
        margin-right: auto;
    }

    &__link {
        @include text-defaults();
        font-size: 0.8em;
        color: black;
        text-decoration: none;
        margin: 0px 10px;
    }

    &__button {
        @include text-defaults();
        font-size: 1em;
        height: 45px;
        width: 145px;
        margin: 0px 10px;
        border-radius: 7px;
        border-width: 2px;
        border-color: black;
        background-color: white;
    }
}

.header {
    margin-left: 10vw;

    &__text {
        @include text-defaults();

        &--small {
            font-size: 1em;
        }

        &--big {
            font-size: 2em;
        }
    }
}

.segment {
    &__image {
        width: 25vw;
        height: auto;
        margin-left: 5vw;
    }

    &__text {
        @include text-defaults();

        &--header {
            font-size: 2em;
        }
    }
}

.logos {
    display: flex;
    width: 60vw;
    margin: 0px 20vw;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    &__image {
        height: 70px;
        width: auto;
    }

    &__text {
        @include text-defaults();
        text-align: center;
        size: 0.8em;
    }
}

.card {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: auto;

    &__text {
        @include text-defaults();
        &--small {
            size: 0.8em;
            margin: 10px 0px;
        }
        &--large {
            margin: 5px 0px 10px;
            size: 2em;
        }
        &--paragraph {
            margin-top: 20px 0px;
            size: 1em;
        }
    }

    &__buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.button {
    @include text-defaults();
    font-size: 0.8em;
    text-decoration: none;
    display: flex;
    height: 45px;
    width: auto;
    border-width: 2px;
    border-radius: 6px;
    border-color: black;
    border-style: solid;
    margin-right: 20px;
    align-items: center;
    cursor: pointer;

    &__text {
        width: fit-content;
        vertical-align: middle;
        margin-left: 10px;
    }

    &__image {
        height: 25px;
        width: auto;
        margin-left: 20px;
        margin-right: 10px;
    }
}

.footer {
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
    padding: 40px 8vw;

    &__email {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        font-size: 1em;
        margin-right: auto;
    }

    &__social-media-image {
        height: 45px;
        width: 45px;
        margin: 10px;
    }
}
