html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.navbar {
  width: 84vw;
  height: 45px;
  display: flex;
  align-items: center;
  margin: 48px 8vw;
}
@media only screen and (max-width: 600px) {
  .navbar {
    visibility: hidden;
    height: 0px;
    width: 0px;
    margin: 5vw;
  }
}
.navbar__text {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1rem;
  justify-self: flex-start;
  margin-left: 10px;
  margin-right: auto;
}
.navbar__link {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 0.8rem;
  color: black;
  text-decoration: none;
  margin: 0px 10px;
}
.navbar__button {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1rem;
  height: 45px;
  width: 145px;
  margin: 0px 10px;
  border-radius: 7px;
  border-width: 2px;
  border-color: black;
  background-color: white;
}

.header {
  margin-left: 10vw;
}
.header__text {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  width: 80vw;
}
.header__text--small {
  font-size: 1rem;
}
.header__text--big {
  font-size: 2rem;
}

@media only screen and (max-width: 600px) {
  .segment {
    width: 90vw;
    margin: 40px 5vw;
  }
}
@media only screen and (min-width: 601px) {
  .segment {
    width: 80vw;
    margin: 80px 10vw;
  }
}
.segment--grid {
  display: grid;
  row-gap: 2vw;
}
@media only screen and (max-width: 600px) {
  .segment--grid {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    justify-items: center;
  }
}
@media only screen and (min-width: 601px) {
  .segment--grid {
    grid-template-columns: 30% 70%;
    column-gap: 8vw;
    grid-template-rows: 20% 80%;
  }
}
.segment--flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.segment__image {
  height: auto;
}
@media only screen and (max-width: 600px) {
  .segment__image {
    width: 60vw;
    grid-row: 2;
  }
}
@media only screen and (min-width: 601px) {
  .segment__image {
    width: 25vw;
    margin-left: 2vw;
    grid-row: 1/span 2;
    align-self: center;
  }
}
.segment__text {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.segment__text--header-grid {
  font-size: 2rem;
}
@media only screen and (max-width: 600px) {
  .segment__text--header-grid {
    width: 80vw;
    text-align: center;
    grid-row: 1;
  }
}
@media only screen and (min-width: 601px) {
  .segment__text--header-grid {
    width: 50vw;
    align-self: flex-end;
    margin: 0px;
  }
}
.segment__text--body-grid {
  font-size: 1rem;
}
@media only screen and (max-width: 600px) {
  .segment__text--body-grid {
    width: 80vw;
    text-align: center;
    grid-row: 3;
  }
}
@media only screen and (min-width: 601px) {
  .segment__text--body-grid {
    width: 50vw;
    align-self: flex-start;
    margin: 0px;
  }
}
.segment__text--header-flex {
  font-size: 2rem;
  text-align: center;
  margin: 0px;
}
.segment__text--body-flex {
  font-size: 1rem;
  text-align: center;
  margin: 20px 0px;
}
@media only screen and (max-width: 600px) {
  .segment__text--body-flex {
    width: 80vw;
  }
}
@media only screen and (min-width: 601px) {
  .segment__text--body-flex {
    width: 40vw;
  }
}

.logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  .logos {
    width: 90vw;
  }
}
@media only screen and (min-width: 601px) {
  .logos {
    width: 60vw;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.logo__image {
  height: 70px;
  width: auto;
}
.logo__text {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: center;
  size: 0.8rem;
}

.cards {
  width: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  flex-basis: 45%;
  max-width: 550px;
  height: auto;
  margin: 0px auto;
}
@media screen and (max-width: 360px) {
  .card {
    width: auto;
  }
}
@media screen and (min-width: 301px) {
  .card {
    width: minmax(360px, auto);
  }
}
.card__image {
  width: auto;
  height: auto;
}
.card__text {
  width: auto;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.card__text--small {
  size: 0.8rem;
  margin: 10px 0px;
}
.card__text--large {
  margin: 5px 0px 10px;
  size: 2rem;
}
.card__text--paragraph {
  margin-top: 20px 0px;
  size: 1rem;
}
.card__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 0.8rem;
  text-decoration: none;
  display: flex;
  height: 45px;
  width: auto;
  border-width: 2px;
  border-radius: 6px;
  border-color: black;
  border-style: solid;
  margin-right: 20px;
  align-items: center;
  cursor: pointer;
}
.button__text {
  width: fit-content;
  vertical-align: middle;
  margin-left: 10px;
}
.button__image {
  height: 25px;
  width: auto;
  margin-left: 20px;
  margin-right: 10px;
}

.footer {
  width: auto;
  background-color: black;
  display: grid;
  padding: 40px 8vw;
}
@media only screen and (max-width: 600px) {
  .footer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
  }
}
@media only screen and (min-width: 601px) {
  .footer {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
  }
}
.footer__email {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 1rem;
  align-self: center;
}
@media only screen and (max-width: 600px) {
  .footer__email {
    grid-row: 2;
  }
}
@media only screen and (min-width: 601px) {
  .footer__email {
    grid-column: 1;
    margin-right: auto;
  }
}

@media only screen and (max-width: 600px) {
  .social-media {
    grid-row: 1;
  }
}
@media only screen and (min-width: 601px) {
  .social-media {
    justify-self: flex-end;
    grid-column: 2;
  }
}
.social-media__image {
  height: 45px;
  width: 45px;
  margin: 10px;
}
