@mixin text-defaults {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

@mixin mobile {
    @media only screen and (max-width: 600px) {
        @content;
    }
}

@mixin desktop {
    @media only screen and (min-width: 601px) {
        @content;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.navbar {
    width: 84vw;
    height: 45px;
    display: flex;
    align-items: center;
    margin: 48px 8vw;

    @include mobile() {
        visibility: hidden;
        height: 0px;
        margin: 5vw;
    }

    &__text {
        @include text-defaults();
        font-size: 1em;
        justify-self: flex-start;
        margin-left: 10px;
        margin-right: auto;
    }

    &__link {
        @include text-defaults();
        font-size: 0.8em;
        color: black;
        text-decoration: none;
        margin: 0px 10px;
    }

    &__button {
        @include text-defaults();
        font-size: 1em;
        height: 45px;
        width: 145px;
        margin: 0px 10px;
        border-radius: 7px;
        border-width: 2px;
        border-color: black;
        background-color: white;
    }
}

.header {
    margin-left: 10vw;

    &__text {
        @include text-defaults();
        width: 80vw;

        &--small {
            font-size: 1em;
        }

        &--big {
            font-size: 2em;
        }
    }
}

.segment {
    @include mobile() {
        width: 90vw;
        margin: 40px 5vw;
    }

    @include desktop() {
        width: 80vw;
        margin: 80px 10vw;
    }

    &--grid {
        display: grid;
        row-gap: 2vw;

        @include mobile() {
            grid-template-columns: 100%;
            grid-template-rows: auto;
            justify-items: center;
        }

        @include desktop() {
            grid-template-columns: 30% 70%;
            column-gap: 8vw;
            grid-template-rows: 20% 80%;
        }
    }

    &--flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__image {
        height: auto;

        @include mobile() {
            width: 60vw;
            grid-row: 2;
        }

        @include desktop() {
            width: 25vw;
            margin-left: 2vw;
            grid-row: 1 / span 2;
            align-self: center;
        }
    }

    &__text {
        @include text-defaults();

        &--header-grid {
            font-size: 2em;

            @include mobile() {
                width: 80vw;
                text-align: center;
                grid-row: 1;
            }

            @include desktop() {
                width: 50vw;
                align-self: flex-end;
                margin: 0px;
            }
        }

        &--body-grid {
            font-size: 1em;

            @include mobile() {
                width: 80vw;
                text-align: center;
                grid-row: 3;
            }

            @include desktop() {
                width: 50vw;
                align-self: flex-start;
                margin: 0px;
            }
        }

        &--header-flex {
            font-size: 2em;
            text-align: center;
            margin: 0px;
        }

        &--body-flex {
            font-size: 1em;
            text-align: center;
            margin: 20px 0px;

            @include mobile() {
                width: 80vw;
            }

            @include desktop() {
                width: 40vw;
            }
        }
    }
}

.logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    @include mobile() {
        width: 90vw;
    }

    @include desktop() {
        width: 60vw;
    }
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    &__image {
        height: 70px;
        width: auto;
    }

    &__text {
        @include text-defaults();
        text-align: center;
        size: 0.8em;
    }
}

.cards {
    width: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    flex-basis: 45%;
    max-width: 550px;
    width: minmax(360px, auto);
    height: auto;
    margin: 0px auto;

    &__text {
        width: auto;
        @include text-defaults();
        &--small {
            size: 0.8em;
            margin: 10px 0px;
        }
        &--large {
            margin: 5px 0px 10px;
            size: 2em;
        }
        &--paragraph {
            margin-top: 20px 0px;
            size: 1em;
        }
    }

    &__buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.button {
    @include text-defaults();
    font-size: 0.8em;
    text-decoration: none;
    display: flex;
    height: 45px;
    width: auto;
    border-width: 2px;
    border-radius: 6px;
    border-color: black;
    border-style: solid;
    margin-right: 20px;
    align-items: center;
    cursor: pointer;

    &__text {
        width: fit-content;
        vertical-align: middle;
        margin-left: 10px;
    }

    &__image {
        height: 25px;
        width: auto;
        margin-left: 20px;
        margin-right: 10px;
    }
}

.footer {
    width: auto;
    background-color: black;
    display: flex;
    align-items: center;
    padding: 40px 8vw;

    &__email {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        font-size: 1em;
        margin-right: auto;
    }

    &__social-media-image {
        height: 45px;
        width: 45px;
        margin: 10px;
    }
}
